pkgbase = blossom-sound-theme
	pkgdesc = BlossomOS sound theme - minimalistic UI sounds adhering to the freedesktop naming standard
	pkgver = 1.0.0
	pkgrel = 2
	url = https://codeberg.org/BlossomOS/sound-theme
	arch = any
	license = CC-BY-SA-4.0
	optdepends = kde-plasma: For full integration with KDE Plasma
	optdepends = gnome-shell: For full integration with GNOME
	optdepends = gnome-tweaks: To enable theme in GNOME
	source = https://codeberg.org/BlossomOS/sound-theme/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 3d356c3e3907af9762fc49b23cdb0b3cf6c63b7f13641b884ddcf73ce5d68f88

pkgname = blossom-sound-theme
